<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book manager App</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
<style>
    a {
  /* Applies to all visited links */
  text-decoration:  none;
  } 
    
</style>

    <title>Book manager</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for book in books %}
                    <h3>{{book.title}}</h3>
                    <p>{{book.subtitle}}</p>
                    <p>{{book.description}}</p>
                    <p class="post-meta">Posted by {{book.author}} on {{ book.date_posted.strftime('%B %d %Y %X') }}</p>
                     <a href="/editPost" type="btn-btn-primary">Edit</a> <a href="/deletePost" type="btn-btn-danger">Delete</a>
                    <hr>
                {% endfor %}
            </div>
        </div>
        </div>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</body>
</html>