<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book manager App</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
<style>
    a {
  /* Applies to all visited links */
  text-decoration:  none;
  } 
    
</style>

    <title>Book manager</title>
</head>
<body>
    <div class="container">
        <div class="">
            <div class="">
                <div class="panel panel-default">
                    <div class="panel panel-heading">Books</div>
                    {% for book in books %}
                    </div><!--start of well-->
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                        <div class="well">

                            <h3 style="padding-left:20px;">{{book.title}}</h3>
                            <p style="padding-left:40px;">{{book.subtitle}}</p>
                            <p  style="padding-left:40px;">{{book.description}}</p>
                            <p class="post-meta">Posted by {{book.author}} on {{ book.date_posted.strftime('%B %d %Y %X') }}</p>
                            <a type="submit" class="btn btn-primary btn-sm" href="{{url_for('show', id=book.id)}}">Edit</a>
                            <a type="submit" class="btn btn-danger btn-sm" href="{{url_for('delete', id=book.id)}}">Delete</a>
                        </div><!--end of well-->
                        <div class="col-md-2"></div>
                        </div>
                    </div>
                        </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</body>
</html>